body
{
    margin: 0px;
    padding: 0px;
    background-image: url(LogoBar.gif);
    background-repeat: no-repeat;
}

body.Designer
{
    background-image: none;
}

body div
{
    display: none;
}

table.Page
{
    width: 100%;
    border-collapse: collapse;
}

table.Page div
{
    display: block;
}

.WizardWait
{
    background-image: url(wait.gif);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-position: left top;
}

table.Page tr td.OnTimeHeader
{
    /*background-image: url(LogoBar.gif);     background-repeat: no-repeat;*/
    height: 40px;
    font-family: Tahoma;
    font-size: 8.5pt;
}

table.Page tr td.OnTimeHeader div
{
    /*border: solid 1px red;*/
    padding: 0px 4px 4px 4px;
}

a.Button
{
    text-decoration: none; /*border2: solid 1px yellow;*/
}

a.Button span
{
    display: inline-block;
    cursor: pointer;
    background-image: url(Support.png);
    width: 52px;
    height: 52px;
}

a.Button.Community span
{
    background-position: -52px top;
}

a.Button.YouTube span
{
    background-position: -104px top;
}

a.Button.Blog span
{
    background-position: -156px top;
}

a.Button.Partners span
{
    background-position: -208px top;
}

a.Button:hover span
{
    background-position-y: -51px;
}

table.Page tr td.Body
{
    font-family: Tahoma;
    font-size: 8.5pt;
    padding: 8px;
}

table.Page tr td.OnTimeHeader span.Div
{
    color: #F5F5F5;
    font-weight: normal;
    font-family: Tahoma;
    font-size: 7.5pt;
    padding: 0px 4px;
}

div.ProjectType
{
    font-family: Tahoma;
    font-size: 8.5pt;
    border-bottom: dotted 1px silver;
    padding: 3px 3px 3px 9px;
    font-weight: bold;
    color: black;
}

table.Projects
{
    border-collapse: collapse;
    margin-bottom: 4px;
}

table.Projects tr td
{
    font-family: Tahoma;
    font-size: 8.5pt;
}

table.Projects tr td.Title
{
    font-weight: normal;
    padding-right: 10px;
    padding-left: 4px;
    width: 150px;
}

table.Projects tr td
{
    padding: 3px;
}

table.Projects tr.Divider td
{
    border-top: dotted 1px silver;
    border-left: solid 1px white;
}

table.ReceptProjects
{
    border-collapse: collapse;
}

div#ProjectActionDialog_Menu 
{
}

div#ProjectActionDialog_Menu div.ProjectName, div#ProjectSyncSettings div.ProjectName
{
    font-size: xx-large;
    font-family: Calibri,Arial;
    padding-bottom: 20px;
    padding: 0px 0px 0px 12px;
    font-weight: 600;
    color: #333333;
    background-position:12px center;
    background-repeat:no-repeat;
}

div#ProjectActionDialog_Menu div.ProjectName span, div#ProjectSyncSettings div.ProjectName span
{
    border-bottom: dotted 1px #000;
    padding-right:8px;
}

div#ProjectActionDialog_Menu div.ProjectId, div#ProjectSyncSettings div.ProjectId
{
    padding: 4px 0px 0px 10px;
    font-weight: bold;
    color: #808080;
    font-size: 10pt;
    text-transform: lowercase;
    background-position:12px 4px;
    background-repeat:no-repeat;

}

div#ProjectActionDialog_Menu div.ProjectId span, div#ProjectSyncSettings div.ProjectId span
{
    padding-left:20px;
}

div.ProjectActionList
{
    padding:0;
    margin: 70px 0 0 0;
}

ul.ProjectAction
{
    float: left;
    width: 25%;
    padding:0;
    margin:0 0 0 5%;
}

ul.ProjectAction li
{
    padding: 4px 0px;
}

ul.ProjectAction li div.Action
{
    font-family: Arial;
    font-size: 16pt;
}

ul.ProjectAction li div.Description
{
    color: Black;
    font-family: Verdana;
    font-size: 8.5pt;
}

ul.ProjectAction li a
{
    border: solid 1px transparent;
    display: block;
    padding: 8px 8px 8px 50px;
}

ul.ProjectAction li a div.Outer
{
    background-repeat: no-repeat;
    background-position: 8px 4px;
    margin-left: -50px;
    padding-left: 50px;
}

ul.ProjectAction li.Open a div.Outer
{
    background-image: url(../_Images/Actions/Open.png);
}

ul.ProjectAction li.Browse a div.Outer
{
    background-image: url(../_Images/Actions/Browse.png);
}

ul.ProjectAction li.Publish a div.Outer
{
    background-image: url(../_Images/Actions/Publish.png);
}

ul.ProjectAction li.Develop a div.Outer
{
    background-image: url(../_Images/Actions/Develop.png);
}

ul.ProjectAction li.Settings a div.Outer
{
    background-image: url(../_Images/Actions/Settings.png);
}

ul.ProjectAction li.Refresh a div.Outer
{
    background-image: url(../_Images/Actions/Refresh.png);
}

ul.ProjectAction li.Sync a div.Outer
{
    background-image: url(../_Images/Actions/Sync.png);
}

ul.ProjectAction li.Design a div.Outer
{
    background-image: url(../_Images/Actions/Design.png);
}

ul.ProjectAction li.Delete a div.Outer
{
    background-image: url(../_Images/Actions/Delete.png);
}

ul.ProjectAction li a:hover
{
    /*border: solid 1px #D2B47A;     background-color: #FFE6A0;*/
    background-color: #FFECB5;
    background-image: url(HoverBkg.gif);
    background-repeat: repeat-x;
    background-position: left -5px;
    border: solid 1px #E5C365;
}


ul.ProjectAction li a
{
    text-decoration: none;
}

table.MyProjects
{
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: solid 1px #BCC7D8;
    width: 100%;
}

table.MyProjects tr td
{
    font-family: Tahoma;
    font-size: 8.5pt;
    border-top: solid 1px #BCC7D8; /*border-left: solid 1px white;     border-right: solid 1px white;*/
    padding: 2px 5px 2px 3px;
}

table.MyProjects tr th
{
    padding: 3px 5px 3px 3px;
    font-family: Tahoma;
    font-size: 8.5pt;
    color: #465A7D;
    font-weight: normal;
}

table.MyProjects tr th.ProjectTitle
{
    padding-left: 13px;
}


table.MyProjects .Check
{
    background-image: url('Check.gif' );
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    margin-left: 2px;
}

table.MyProjects .ProjectTitle
{
    padding-left: 8px;
    padding-right: 0px !important;
}

.Title a div span.outer
{
    padding-left: 22px!important;
    background-repeat:no-repeat;
    background-position:left center;
    min-height:14px;
}

div#ProjectActionDialog_Menu div.ProjectId.web-site-factory,
div#ProjectSyncSettings div.ProjectId.web-site-factory,
a.web-site-factory div span.outer
{
    background-image: url(../_Images/Projects/WebSiteFactory.png);
}

div#ProjectActionDialog_Menu div.ProjectId.web-app-factory,
div#ProjectSyncSettings div.ProjectId.web-app-factory,
a.web-app-factory div span.outer
{
    background-image: url(../_Images/Projects/WebAppFactory.png);
}

div#ProjectActionDialog_Menu div.ProjectId.azure-factory,
div#ProjectSyncSettings div.ProjectId.azure-factory,
a.azure-factory div span.outer
{
    background-image: url(../_Images/Projects/AzureFactory.png);
}

div#ProjectActionDialog_Menu div.ProjectId.dotnetnuke-factory,
div#ProjectSyncSettings div.ProjectId.dotnetnuke-factory,
a.dotnetnuke-factory div span.outer
{
    background-image: url(../_Images/Projects/DotNetNukeFactory.png);
}

div#ProjectActionDialog_Menu div.ProjectId.sharepoint-factory,
div#ProjectSyncSettings div.ProjectId.sharepoint-factory,
a.sharepoint-factory div span.outer
{
    background-image: url(../_Images/Projects/SharePointFactory.png);
}

div#ProjectActionDialog_Menu div.ProjectId.mobile-factory,
div#ProjectSyncSettings div.ProjectId.mobile-factory,
a.mobile-factory div span.outer
{
    background-image: url(../_Images/Projects/MobileFactory.png);
}


table.MyProjects .ProjectStatus
{
    padding: 0px 5px 0px 0px;
}

div.Heading
{
    font-weight: bold;
    color: #fff;
    background-color: #465A7D;
    margin-bottom: 8px;
    padding: 4px;
    border: solid 1px #465A7D;
}

div.Heading table tr td
{
    font-size: 8.5pt;
    font-family: Tahoma;
    padding: 0px;
}

div.Content
{
    padding-left: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 0px;
    padding-bottom: 8px;
    font-family: Tahoma;
    font-size: 8.5pt;
}

a:link, a:active, a:visited
{
    color: #006699;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 8.5pt;
}

a:hover
{
    text-decoration: underline;
    color: black;
}

div.Heading a
{
    text-decoration: underline;
    color: White;
}

span#LiveDemoLink
{
    margin-top: -40px;
    display: inline-block;
    margin-right: 40px;
}

span#LiveDemoLink a
{
    color: lime;
    font-size: 15pt;
}

span#LiveDemoLink a:hover
{
    text-decoration: underline;
    color: Yellow;
}

div.Heading a:hover
{
    color: silver;
}

table.Page tr td.OnTimeHeader a
{
    color: White;
}

table.Page tr td.PageDialog
{
    padding: 8px;
}

table.Page tr td.PageDialog div.Dialog
{
    font-family: Tahoma;
    font-size: 8.5pt;
    display: none;
}

input, button, select, textarea
{
    font-family: Tahoma;
    font-size: 8.5pt;
}

div.Buttons, div.Buttons2
{
    margin-top: 8px;
    text-align: right;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 28px;
    border-top: solid 1px gainsboro;
}

div.Buttons
{
    border-top: solid 1px #999999;
    background-color: #999999;
    background-image: url(ButtonsBkg.gif);
    background-repeat: repeat-x;
}

div.Top
{
    padding-top: 4px;
    margin-top: -8px;
    border-top-style: none;
    padding-bottom: 6px;
}

div.Buttons button, div.Buttons2 button
{
    width: 85px;
    margin-right: 8px;
    font-family: verdana;
    font-size: 8.5pt;
    height: 22px;
    color: Black;
}

button.Large
{
    width: 120px;
    margin-right: 4px;
    margin-left: 4px;
    font-family: verdana;
    font-size: 8.5pt;
    height: 22px;
    color: Black;
}

button.Medium
{
    width: 85px;
    margin-right: 4px;
    margin-left: 4px;
    font-family: verdana;
    font-size: 8.5pt;
    height: 22px;
    color: Black;
}

button.Small
{
    margin-right: 4px;
    margin-left: 4px;
    font-family: verdana;
    font-size: 8.5pt;
    height: 22px;
    color: Black;
}

td.Title a
{
    display: block;
}

td.Title a div
{
    padding: 5px 25px 5px 5px;
}

td.Title a div span
{
    height: 13px;
    display: inline-block;
    padding: 1px 0px;
    cursor: pointer;
}

td.Title a div.Current span span.inner
{
    background-image: url('Check.gif' );
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 18px;
}

td.Title a:hover
{
    background-color: #FFFBEF;
    background-image: url(HoverBkg.gif);
    background-repeat: repeat-x;
    background-position: left center;
    border: solid 1px #E5C365;
}

.MyProjects tr td
{
    border-style: none;
    border-width: 0px;
}

.MyProjects td.Title a div
{
    padding: 2px 5px 3px 5px;
}

.MyProjects td.Title a:hover div
{
    padding: 1px 4px 2px 4px;
}
.Projects td.Title a div
{
    padding: 4px 5px 4px 5px;
}

.Projects td.Title a:hover div
{
    padding: 4px 4px 4px 4px;
}

table.MyProjects tr.Highlight td
{
    background-color: #FFFBED;
    background-image: url(HoverBkg.gif);
    background-repeat: repeat-x;
    background-position: left center;
}

div.Field
{
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}

div.Field label.Label
{
    color: #696969;
    display: block;
    padding-bottom: 2px;
    margin-left: -4px;
}

div.Field div.Description
{
    padding-top: 2px;
    padding-left: 2px;
}

div.Field div.Error
{
    display: none;
    color: red;
    padding-top: 2px;
    padding-left: 2px;
    white-space: normal;
}

table.Field
{
    border-collapse: collapse;
}

table.Field tr td
{
    font-family: Tahoma;
    font-size: 8.5pt;
}

table.Field tr td label
{
    color: Gray;
}

div.ScrollBox
{
    border: solid 1px #BCC7D8;
    overflow: auto;
    padding: 2px 4px 2px 4px;
    font-family: Tahoma;
    font-size: 8.5pt;
}

.InstallCurrent
{
    width: 9px;
    height: 9px;
    background-image: url('CurrentMark.gif');
    background-position: left center;
    background-repeat: no-repeat;
    padding-right: 8px;
}

.InstallCompleted
{
    width: 9px;
    height: 9px;
    background-image: url('CheckMark.gif');
    background-position: left center;
    background-repeat: no-repeat;
    padding-right: 8px;
}

div#InstallPlan
{
    padding-top: 8px;
}

div#InstallError
{
    color: Red;
    white-space: pre;
}

div#NewProjectDialog_Description
{
    padding-bottom: 8px;
}

div#NewProjectDialog_Website
{
    margin-bottom: 8px;
}

div#NewProjectDialog_Website a
{
    color: Green;
    text-decoration: none;
}

.Cost
{
    color: Green;
}

.Task
{
    background-position: 8px 4px;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 18px;
    background-image: url(Bullet.gif);
    background-repeat: no-repeat;
}


div.News, div#LatestNewsMessage
{
    border: solid 1px #BCC7D8;
    font-family: tahoma;
    font-size: 8.5pt;
    width: 360px;
    padding: 4px;
    height: 450px;
    overflow: auto;
    margin-left: 4px;
}

div#LatestNewsMessage
{
    border-color: #fff;
    padding-top: 0px;
}


div.News img
{
    border-style: none;
    margin: 4px 0px;
    display: block;
}

/*
Option Menu
*/

table.TabView
{
    border-width: 0px;
}

table.TabView tr td.Tabs
{
    width: 200px;
    border: solid 1px silver;
    padding: 4px 8px;
    vertical-align: top;
}

table.TabView tr td.Tabs ul
{
}

table.TabView tr td.Tabs ul li
{
    margin-left: -40px;
    list-style-type: none;
    padding: 4px 0px;
}

table.TabView tr td.Tabs a
{
    border: solid 1px transparent;
    text-decoration: none;
    color: Black;
    padding: 2px 4px;
}

table.TabView tr td.Tabs a:hover, table.TabView tr td.Tabs a.Selected
{
    background-color: #FFFBEF;
    background-image: url(HoverBkg.gif);
    background-repeat: repeat-x;
    background-position: left center;
    border: solid 1px #E5C365;
}

table.TabView tr td.Tabs a.Selected
{
    font-weight: bold;
}

table.TabView tr td.Body
{
    vertical-align: top;
    padding: 0px 0px 0px 8px;
}

table.TabView tr td.Body div.Views
{
    overflow: auto;
    height: 400px;
}

select#ThemeDialog_Theme
{
    width: 150px;
    height: 279px;
}

table.ThemePreviews
{
    margin-left: 12px;
    color: #696969;
}

.Field.Theme .ThemePreview
{
    width: 340px;
    height: 271px;
    border: solid 1px silver;
    background-position: left top;
    background-repeat: no-repeat;
}

.Field.Theme .MobileThemePreview
{
    width: 340px;
    height: 271px;
    border: solid 1px silver;
    background-position: center top;
    background-repeat: no-repeat;
}

.Field.Theme .MobileThemePreview
{
    background-image:url(../_Images/Themes/_mobile-Default.png);
}

.Field.Theme.Aquarium .ThemePreview
{
    background-image: url(../_Images/Themes/Aquarium.png);
}

.Field.Theme.Aquarium .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Aquarium.png);
}

.Field.Theme.Azure .ThemePreview
{
    background-image: url(../_Images/Themes/Azure.png);
}

.Field.Theme.Azure .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Azure.png);
}

.Field.Theme.Belltown .ThemePreview
{
    background-image: url(../_Images/Themes/Belltown.png);
}

.Field.Theme.Belltown .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Belltown.png);
}

.Field.Theme.Berry .ThemePreview
{
    background-image: url(../_Images/Themes/Berry.png);
}

.Field.Theme.Berry .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Berry.png);
}

.Field.Theme.Bittersweet .ThemePreview
{
    background-image: url(../_Images/Themes/Bittersweet.png);
}

.Field.Theme.Bittersweet .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Bittersweet.png);
}

.Field.Theme.Cay .ThemePreview
{
    background-image: url(../_Images/Themes/Cay.png);
}

.Field.Theme.Cay .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Cay.png);
}

.Field.Theme.Citrus .ThemePreview
{
    background-image: url(../_Images/Themes/Citrus.png);
}

.Field.Theme.Citrus .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Citrus.png);
}

.Field.Theme.Classic .ThemePreview
{
    background-image: url(../_Images/Themes/Classic.png);
}

.Field.Theme.Classic .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Classic.png);
}

.Field.Theme.Construct .ThemePreview
{
    background-image: url(../_Images/Themes/Construct.png);
}

.Field.Theme.Construct .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Construct.png);
}

.Field.Theme.Convention .ThemePreview
{
    background-image: url(../_Images/Themes/Convention.png);
}

.Field.Theme.Convention .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Convention.png);
}

.Field.Theme.DarkKnight .ThemePreview
{
    background-image: url(../_Images/Themes/DarkKnight.png);
}

.Field.Theme.DarkKnight .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/DarkKnight.png);
}

.Field.Theme.Felt .ThemePreview
{
    background-image: url(../_Images/Themes/Felt.png);
}

.Field.Theme.Felt .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Felt.png);
}

.Field.Theme.Graham .ThemePreview
{
    background-image: url(../_Images/Themes/Graham.png);
}

.Field.Theme.Graham .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Graham.png);
}

.Field.Theme.Granite .ThemePreview
{
    background-image: url(../_Images/Themes/Granite.png);
}

.Field.Theme.Granite .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Granite.png);
}

.Field.Theme.Grapello .ThemePreview
{
    background-image: url(../_Images/Themes/Grapello.png);
}

.Field.Theme.Grapello .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Grapello.png);
}

.Field.Theme.Gravity .ThemePreview
{
    background-image: url(../_Images/Themes/Gravity.png);
}

.Field.Theme.Gravity .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Gravity.png);
}

.Field.Theme.Lacquer .ThemePreview
{
    background-image: url(../_Images/Themes/Lacquer.png);
}

.Field.Theme.Lacquer .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Lacquer.png);
}

.Field.Theme.Laminate .ThemePreview
{
    background-image: url(../_Images/Themes/Laminate.png);
}

.Field.Theme.Laminate .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Laminate.png);
}

.Field.Theme.Lichen .ThemePreview
{
    background-image: url(../_Images/Themes/Lichen.png);
}

.Field.Theme.Lichen .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Lichen.png);
}

.Field.Theme.Mission .ThemePreview
{
    background-image: url(../_Images/Themes/Mission.png);
}

.Field.Theme.Mission .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Mission.png);
}

.Field.Theme.Modern .ThemePreview
{
    background-image: url(../_Images/Themes/Modern.png);
}

.Field.Theme.Modern .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Modern.png);
}

.Field.Theme.ModernRose .ThemePreview
{
    background-image: url(../_Images/Themes/ModernRose.png);
}

.Field.Theme.ModernRose .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/ModernRose.png);
}

.Field.Theme.Municipal .ThemePreview
{
    background-image: url(../_Images/Themes/Municipal.png);
}

.Field.Theme.Municipal .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Municipal.png);
}

.Field.Theme.Petal .ThemePreview
{
    background-image: url(../_Images/Themes/Petal.png);
}

.Field.Theme.Petal .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Petal.png);
}

.Field.Theme.Pinnate .ThemePreview
{
    background-image: url(../_Images/Themes/Pinnate.png);
}

.Field.Theme.Pinnate .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Pinnate.png);
}

.Field.Theme.Plastic .ThemePreview
{
    background-image: url(../_Images/Themes/Plastic.png);
}

.Field.Theme.Plastic .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Plastic.png);
}

.Field.Theme.Ricasso .ThemePreview
{
    background-image: url(../_Images/Themes/Ricasso.png);
}

.Field.Theme.Ricasso .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Ricasso.png);
}

.Field.Theme.Simple .ThemePreview
{
    background-image: url(../_Images/Themes/Simple.png);
}

.Field.Theme.Simple .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Simple.png);
}

.Field.Theme.Social .ThemePreview
{
    background-image: url(../_Images/Themes/Social.png);
}

.Field.Theme.Social .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Social.png);
}

.Field.Theme.Summer .ThemePreview
{
    background-image: url(../_Images/Themes/Summer.png);
}

.Field.Theme.Summer .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Summer.png);
}

.Field.Theme.Vantage .ThemePreview
{
    background-image: url(../_Images/Themes/Vantage.png);
}

.Field.Theme.Vantage .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Vantage.png);
}

.Field.Theme.Verdant .ThemePreview
{
    background-image: url(../_Images/Themes/Verdant.png);
}

.Field.Theme.Verdant .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Verdant.png);
}

.Field.Theme.Viewpoint .ThemePreview
{
    background-image: url(../_Images/Themes/Viewpoint.png);
}

.Field.Theme.Viewpoint .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Viewpoint.png);
}

.Field.Theme.WhiteSmoke .ThemePreview
{
    background-image: url(../_Images/Themes/WhiteSmoke.png);
}

.Field.Theme.WhiteSmoke .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/WhiteSmoke.png);
}

.Field.Theme.Yoshi .ThemePreview
{
    background-image: url(../_Images/Themes/Yoshi.png);
}

.Field.Theme.Yoshi .MobileThemePreview
{
    background-image:url(../_Images/Themes/Mobile/Yoshi.png);
}

.Field.Theme.Mobile .DesktopPreview
{
    display:none;
}


/*
.Heading div.Logo
{
    float:right;
    width:32px;
    height:32px;
    margin-top:-40px;
    margin-right:8px;
    background-repeat:no-repeat;
}
*/

.Heading.Logo
{
    padding-left:30px;
}

.Heading.Logo div.Icon
{
    float:left;
    width:32px;
    height:32px;
    margin-top:-28px;
    margin-left:-4px;
    margin-right:8px;
    background-repeat:no-repeat;
}
.Heading.Logo .Icon.Namespace, ul.Settings li.Namespace a div.Outer
{
    background-image: url(../_Images/Wizard/Namespace.png);
}

.Heading.Logo .Icon.Database, ul.Settings li.Connection a div.Outer
{
    background-image: url(../_Images/Wizard/DatabaseConnection.png);
}

.Heading.Logo .Icon.BLL, ul.Settings li.BLL a div.Outer
{
    background-image: url(../_Images/Wizard/BLL.png);
}

.Heading.Logo .Icon.Membership, ul.Settings li.Membership a div.Outer
{
    background-image: url(../_Images/Wizard/Membership.png);
}

.Heading.Logo .Icon.Reporting, ul.Settings li.Reports a div.Outer
{
    background-image: url(../_Images/Wizard/Reports.png);
}

.Heading.Logo .Icon.Features, ul.Settings li.Features a div.Outer
{
    background-image: url(../_Images/Wizard/Features2.png);
}

.Heading.Logo .Icon.Layout, ul.Settings li.Layout a div.Outer
{
    background-image: url(../_Images/Wizard/Layout.png);
}

.Heading.Logo .Icon.Theme, ul.Settings li.Theme a div.Outer
{
    background-image: url(../_Images/Wizard/Theme.png);
}

.Heading.Logo .Icon.Globalization, ul.Settings li.Globalization a div.Outer
{
    background-image: url(../_Images/Wizard/Globalization.png);
}

.Heading.Logo .Icon.WebServer, ul.Settings li.WebServer a div.Outer
{
    background-image: url(../_Images/Wizard/WebServer.png);
}

.Heading.Logo .Icon.Summary
{
    background-image: url(../_Images/Wizard/Summary.png);
}

.Heading.Logo .Icon.Help
{
    background-image: url(../_Images/Wizard/Help.png);
}

.Heading.Logo .Icon.Location, ul.Settings li.Namespace.Location a div.Outer
{
    background-image: url(../_Images/Wizard/Location.png);
}

.Heading.Logo .Icon.Sharing
{
    background-image: url(../_Images/Wizard/DatabaseSharing.png);
}

.Heading.Logo .Icon.Website, ul.Settings li.Namespace.Website a div.Outer
{
    background-image: url(../_Images/Actions/Browse.png);
}

ul.Settings li.Design a div.Outer
{
    background-image: url(../_Images/Actions/Design.png);
}

ul.Settings li.Generate a div.Outer
{
    background-image: url(../_Images/Actions/Browse.png);
}

ul.Settings li.Refresh a div.Outer
{
    background-image: url(../_Images/Actions/Refresh.png);
}

ul.Settings li.Settings a div.Outer
{
    background-image: url(../_Images/Actions/Settings.png);
}

ul.Settings
{
    margin-top:50px;
    float:left;
    width:40%;
}

ul.Settings.Summary
{
    width: 80%;
    margin-top:0px;
}

ul.Settings li
{
    padding:0px;
    list-style-type:none;
}

ul.Settings li a div.Outer
{
    background-repeat: no-repeat;
    background-position: 8px 3px;
    margin-left: -50px;
    padding-left: 50px;
}

ul.Settings li div.Text
{
    font-family: Arial;
    font-size: 14pt;
}

ul.Settings li div.Description
{
    font-family: Verdana;
    color:Black;
    font-size: 8.5pt;
}

ul.Settings li a
{
    border: solid 1px transparent;
    display: block;
    padding: 4px 4px 4px 50px;
    text-decoration:none;
}

ul.Settings li a:hover
{
    background-color: #FFECB5;
    background-image: url(HoverBkg.gif);
    background-repeat: repeat-x;
    background-position: left -5px;
    border: solid 1px #E5C365;
}

div.info-box
{
    margin-top: 4px;
    display: inline-block;
    border: 1px solid #C0C0C0;
    padding: 4px;
    background-color: #FFFFE1;
}

.sync-settings .header
{
    background: url(../_Images/Actions/Sync.png) no-repeat -4px center;
    padding: 0 0 0 40px;
    margin: 0 0 8px 0;
     font-size: xx-large;
    font-family: Calibri,Arial;
}

table.TouchPropertiesTable 
{
    width:500px;
}

table.TouchPropertiesTable td
{
    vertical-align:top;
    padding-bottom:8px;
}
table.TouchPropertiesTable td label
{
    color:#696969;
}